/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html{ 
  background: url( background.png ) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	margin: auto auto auto auto;
	text-align: center;
	color: white;
	font-family: 'lato', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 1px 4px rgba( 0, 0, 0, 0.4 );
}
.content{
	max-width: 500px;
	margin: auto;
}
.title{
	font-weight: 900;
	font-style: italic;
	font-size: 64px;
	text-shadow: 0px 1px 4px rgba( 100, 0, 0, 0.9 );
	background-color:rgba( 100,0,0,0.3 );
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.backgroundBlur{
	background-color: rgba(100, 100, 100, 0.6 );
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: fixed;
}
td{
	vertical-align: top;
	text-align: left;
}
table{
	margin-left: auto;
	margin-right: auto;
}
input[ type=submit ]{
	width: 100%;
}
.styleTable{
	border-spacing: 20px;
	white-space: nowrap;
}
.homeStyleTable{
	border-spacing: 10px;
	white-space: nowrap;
}
#registerTable{
	border-spacing: 20px;
	white-space: nowrap;
}
.seasonDisplay{
	font-weight: bold;
}
.seasonRow{
	cursor: pointer;
}
.seasonRow:hover {
	text-decoration: underline; 
}
.gameEnd{
	font-size: 0.7em;
	font-weight: 300;
}
.bodyFooter{
	font-size: 0.7em;
	font-weight: 300;
	background-color:rgba( 100,0,0,0.3 );
}
a{
	color: white;
	font-weight: bold;
}
a:link{
	text-decoration:none;
	text-shadow: 0px 1px 4px rgba(100, 0, 0, 0.9 );
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
a:active{
	text-decoration:underline;
}
.gameInfo{
	font-family: "Courier New", Courier, monospace;
}
.gameInfoHeader{
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color:rgba( 100,0,0,0.1 );
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
}
.gameInfoName{
	font-size: 1.1em;
}
.linkFooter{
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color:rgba( 100,0,0,0.1 );
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
}
.left{
	display: inline-block;
	width: 100%;
	text-align: left;
}
.profilePhoto{
	width: 150px;
	height: 150px;
}
.profileInfo{
	display: inline-block;
	text-align: left;
	padding-left: 20px;
	float: left;
	height: 150px;
	position: relative;
}
.quote{
	font-style: italic;
}
.footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	display: inline-block;
}
.tagLink{
	font-size: 1.1em;
	width: 300px;
	padding: 5px;
	display: inline-block;
	background-color:rgba( 100,0,0,0.1 );
	text-align: center;
	position: absolute;
    bottom: 0;
}
